.application-index {
  width: 100%;
}

.date {
  margin: 0 10px;
}



.email {
  margin: auto;
}

.status {
  padding: 4px 7px;
  border-radius: 5px;
  width: 90px;
  margin: 0 10px;
  text-align: center;
}

.status.inreview {
  background-color: orange;
}

.status.approved {
  background-color: green;
  color: white;
}

/* todo:
  - add more colors for status
  - responsive for small screen */
